DATABASE_URL="postgresql://postgres:1234@localhost:5432/NombreDB?schema=public"
SECRET_KEY="secret_key"
FRONTEND_URL=https://ecommerce-store-88t.pages.dev/
BASE_URL=http://localhost:3000 #Se está usando para formatear los usuarios en formatearUsuario.ts
RESET_TOKEN_EXP_MINUTES=60
# Opcional: configurar SMTP para enviar correos reales
# SMTP_HOST=""
# SMTP_PORT=587
# SMTP_USER=""
# SMTP_PASS=""

NODE_ENV=development o production #Cambiar para el correcto uso de cookies en las sesiones

